alembic==1.4.3
amqp==1.4.9
anyjson==0.3.3
APScheduler==3.6.3
asgiref==3.2.10
atomicwrites==1.4.0
attrs==20.2.0
beautifulsoup4==4.9.3
billiard==3.3.0.23
blinker==1.4
Brotli==1.0.9
celery==3.1.26.post2
certifi==2017.11.5
chardet==3.0.4
click==6.7
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.3
colorlog==4.2.1
coreapi==2.3.3
coreschema==0.0.4
crontab==0.22.9
cycler==0.10.0
datadispatch==1.0.0
DBUtils==2.0
ddt==1.4.1
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20121119
Django==2.0.2
django-bootstrap4==2.3.1
django-celery==3.3.1
django-cors-headers==3.5.0
django-crispy-forms==1.7.0
django-filter==2.4.0
django-formtools==2.1
django-guardian==2.3.0
django-import-export==0.6.1
django-jsonfield==1.4.1
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-rest-swagger==2.2.0
django-reversion==2.0.12
django-suit==2.0a1
djangorestframework==3.12.2
DjangoUeditor==1.8.143
docx==0.2.4
drf-extensions==0.6.0
dukpy==0.2.3
elasticsearch==7.8.0
elasticsearch5==5.5.6
et-xmlfile==1.0.1
Faker==4.14.2
fire==0.3.1
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Caching==1.9.0
Flask-Compress==1.5.0
Flask-Cors==3.0.9
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-Uploads==0.2.1
future==0.15.2
gunicorn==19.7.1
httplib2==0.9.2
humanize==3.0.1
idna==2.6
importlib-metadata==2.0.0
install==1.3.4
itsdangerous==0.24
itypes==1.2.0
javascripthon==0.11
jdcal==1.3
Jinja2==2.11.2
jsondiff==1.2.0
jupyter-echarts-pypkg==0.1.1
kiwisolver==1.3.1
kombu==3.0.37
lml==0.0.2
lxml==4.5.2
macropy3==1.1.0b2
Mako==1.1.3
Markdown==3.3.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.3.3
meld3==1.0.2
more-itertools==8.5.0
mysql-connector-python==8.0.12
mysqlclient @ file:///C:/Users/win/Downloads/mysqlclient-1.4.6-cp37-cp37m-win32.whl
numpy==1.19.4
odfpy==1.3.6
openapi-codec==1.3.2
openpyxl==2.4.9
pandas==1.1.4
Pillow==8.0.1
pluggy==0.13.1
progress==1.5
prompt-toolkit==3.0.8
protobuf==3.6.0
psutil==5.7.0
psycopg2==2.8.6
py==1.9.0
pyasn1==0.4.8
pyecharts==0.5.5
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pygal==2.4.0
PyJWT==1.7.1
PyMySQL==0.10.1
pyparsing==2.4.7
pypyodbc==1.3.4
pytest==3.7.1
pytest-html==1.19.0
pytest-metadata==1.10.0
python-dateutil==2.8.1
python-docx==0.8.10
python-editor==1.0.4
python3-memcached==1.51
pytz==2017.3
pywin32==228
PyYAML==3.12
requests==2.24.0
requests-toolbelt==0.9.1
retry==0.9.2
retrying==1.3.3
rsa==4.6
selenium==3.141.0
simplejson==3.17.2
six==1.11.0
soupsieve==2.0.1
SQLAlchemy==1.3.19
sqlparse==0.3.1
tablib==0.12.1
tasks==2.5.0
termcolor==1.1.0
text-unidecode==1.3
tzlocal==2.1
uiautomator2==0.0.3
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.10
utils==1.0.1
verifycode==0.2.2
vine==5.0.0
visitor==0.1.3
vthread==0.1.4
wcwidth==0.2.5
Werkzeug==0.15.3
WTForms==2.3.3
xadmin @ file:///C:/Users/win/AppData/Local/Programs/Python/Python37-32/Lib/site-packages/pip/xadmin-django2.zip
xlrd==1.1.0
XlsxWriter==1.3.7
xlwt==1.3.0
zipp==3.3.0
